.large-section-1 {
  border: 1px solid red;
}

.large-section-2 {
  border: 1px solid red;
}

.small-section-1 {
  border: 1px solid red;
}

.small-section-2 {
  border: 1px solid red;
}

.small-section-3 {
  border: 1px solid red;
}

.small-section-4 {
  border: 1px solid red;
}
