/*RESET BOX SIZING*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*BODY AND HTML STYLING*/

html, body {
  background-color: #f5f5f5;


}

.large-section-1 {
  padding: 0;
  background-image: url("../img/marketing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: none;
  margin: 2vw auto;
  height: 40vh;
  background-color: white;
  overflow: auto;


}

.large-section-2 {
  padding: 0;
  background-image: url("../img/boy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: none;
  margin: 2vw auto;
  height: 40vh;
  background-color: white;
  overflow: auto;
}

.small-section-1 {
  padding: 0;
  float: none;
  margin: 2vw auto;
  background-color: white;
  overflow: auto;
  overflow-y: hidden;

}

.small-section-2 {
  padding: 0;
  float: none;
  margin: 2vw auto;
  background-color: white;
  overflow: auto;
  overflow-y: hidden;
}

.small-section-3 {
  padding: 0;
  float: none;
  margin: 2vw auto;
  background-color: white;
  overflow: auto;
  overflow-y: hidden;
}

.small-section-4 {
  padding: 0;
  float: none;
  margin: 2vw auto;
  background-color: white;
  overflow: auto;
  overflow-y: hidden;
}

.image {
  float: left;
  width: 30%;
}

img {
  width: 100%;
  padding: 1vw;
  padding-bottom: 2vw;
}

.small-text {
  float: right;
  width: 70%;
  color: #606060;
  height: 100%;
}

.large-text {
  color: white;
  position: absolute;
  bottom: 0;
  margin: 4vw;
}

h3 {
  font-size: 18px;
  font-weight: 550;
}

.material-icons {
  position: relative;
  top: 7px;
}

@media (min-width:992px) {

  .image {
    float: none;
    width: 100%;

  }

  img {
    padding: 0;
  }

  h5 {
    padding-top: 2vw;
  }

  .small-text {
    float: none;
    width: 100%;
    padding: 1vw;
  }

  .small-section-1 {
   float: left;
   margin-left: 4vw;
   width: 44%;
   text-align: center;
  }

  .small-section-2 {
    float: right;
    margin-right: 4vw;
    width: 44%;
    text-align: center;
    padding-bottom: 1vw;
  }

  .small-section-3 {
    float: left;
    margin-left: 4vw;
    width: 44%;
    text-align: center;
    padding-bottom: .7vw;
  }

  .small-section-4 {
    float: right;
    margin-right: 4vw;
    width: 44%;
    text-align: center;
  }

}

@media screen and (min-width:1201px) {

  .large-section-1 {
    float: left;
  }

  .large-section-2 {
    float: right;
  }

  .small-section-1 {
    float: left;
    height: 40vh;
    width: 26%;
    margin-left: 2vw;
    padding-bottom: 0;


  }

  .small-section-2 {
    float: right;
    height: 40vh;
    width: 26%;
    margin-right: 0;
    padding-bottom: 0;


  }

  .small-section-3 {
    float: left;
    height: 40vh;
    width: 26%;
    margin-left: 0;
    padding-bottom: 0;


  }

  .small-section-4 {
    float: left;
    height: 40vh;
    width: 26%;
    margin-right: 0;
    margin-left: 2vw;
    padding-bottom: 0;

  }

  h1 {
    color: #505050;
    font-size: 30px;

  }

  .large-text {
    margin: 1vw;
  }

  .small-text {
    position: absolute;
  }

}
