/*RESET BOX SIZING*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*BODY AND HTML STYLING*/

html, body {
  background-color: #f5f5f5;


}

.large-section-1 {
  border: 1px solid red;
  padding: 0;
  background-image: url("../img/marketing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: none;
  margin: 2vw auto;
  height: 40vh;
  background-color: white;
  overflow: auto;


}

.large-section-2 {
  border: 1px solid red;
  padding: 0;
  background-image: url("../img/boy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: none;
  margin: 2vw auto;
  height: 40vh;
  background-color: white;
  overflow: auto;
}

.small-section-1 {
  border: 1px solid red;
  padding: 0;
  float: none;
  margin: 2vw auto;
  background-color: white;
  overflow: auto;
}

.small-section-2 {
  border: 1px solid red;
  padding: 0;
  float: none;
  margin: 2vw auto;
  background-color: white;
  overflow: auto;
}

.small-section-3 {
  border: 1px solid red;
  padding: 0;
  float: none;
  margin: 2vw auto;
  background-color: white;
  overflow: auto;
}

.small-section-4 {
  border: 1px solid red;
  padding: 0;
  float: none;
  margin: 2vw auto;
  background-color: white;
  overflow: auto;
}

img {
  float: left;
  width: 50%;
  padding: 3vw;
}

.small-text {
  float: right;
  width: 50%;
  color: #696969;
  height: 100%;
}

.large-text {
  color: white;
  position: absolute;
  bottom: 0;
  margin: 4vw;
}

h3 {
  font-size: 18px;
}


@media screen and (min-width:600px) and (max-width:1000px) {

}

@media screen and (min-width:1001px) {

}
